<form class="login-form">
    <div class="mb-3">
        <p class="hide" id="not-found">That username does not exist! Try again or join.</p>
        <label class="form-label for="username-login">username:</label>
        <input class="form-control" type="text" id="username-login" />
    </div>
    <div>
        <label class="form-labelfor="password-login">password:</label>
        <input class="form-control" type="password" id="password-login" />
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Login</button>
    </div>
    <div>
        <a href="/signup"><i class="fas fa-user-plus"></i> Sign Up Instead</a>
    </div>
</form>

<script src="/javascript/login.js"></script> 